<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment3.Properties.Settings.AssignmentDB_TestsConnectionString"
            connectionString="Data Source=DESKTOP-NQRF66S;Initial Catalog=AssignmentDB_Tests;Persist Security Info=True;User ID=sa;Password=pass@word"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>